@charset "UTF-8";

body{
	background: #eee;
}

.form-card{
	width: 25em;
	margin: 10px auto;
}

.setup-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.setup-list-detail {
    flex: 1 1 0;
}

.setup-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.setup-description {
    margin: 0 0 1rem 0;
}

.setup-list-action {
    display: flex;
    flex-direction: column;
}

.setup-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    align-self: flex-end;
}

.setup-list-item img {
    width: 150px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    margin-right: 2rem;
}



/* GRID */
.setup {
    background: var(--surface-e);
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.setup-grid-item card border-1{
    border: 1px solid #dee2e6;
}

.border-1 .setup-grid-item-content{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.setup-grid-item-content img{
	width: 75%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0;
}

.setup-grid-item-content .setup-name{
	font-size: 1rem;
    font-weight: 700;
}

.setup-grid-item-content .setup-description {
    margin: 0 0 1rem 0;
}

.border-1 .setup-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.setup-grid-item .setup-price {
    font-size: 1.5rem;
    font-weight: 600;
}

.ui-button {
    background: #2196F3;
    color: #ffffff;
    border: 1px solid #2196F3;
    margin: 0;
    outline: 0 none;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
